Repository rszamszur/home-ops, pull requests merged in 2024-10, with the labels that each got.

#140 docs: adds nix team setup documentation
  docs/proxmox.md
Labels: kind: documentation

#135 feat(buildbarn): adds initial Buildbarn deployment
  cluster-home/tenants/buildbarn/bb-namespace.yaml
  cluster-home/tenants/buildbarn/browser.yaml
  cluster-home/tenants/buildbarn/config/browser.jsonnet
  cluster-home/tenants/buildbarn/config/common.libsonnet
  cluster-home/tenants/buildbarn/config/frontend.jsonnet
  cluster-home/tenants/buildbarn/config/kustomization.yaml
  cluster-home/tenants/buildbarn/config/runner-ubuntu22-04.jsonnet
  cluster-home/tenants/buildbarn/config/scheduler.jsonnet
  cluster-home/tenants/buildbarn/config/storage.jsonnet
  cluster-home/tenants/buildbarn/config/worker-ubuntu22-04.jsonnet
  cluster-home/tenants/buildbarn/frontend.yaml
  cluster-home/tenants/buildbarn/kustomization.yaml
  cluster-home/tenants/buildbarn/scheduler.yaml
  cluster-home/tenants/buildbarn/storage.yaml
  cluster-home/tenants/buildbarn/tls.yaml
  cluster-home/tenants/buildbarn/worker-ubuntu22-04.yaml
Labels: area: kubernetes, cluster/home

#145 ci(renovate): enables automerge for patch updates
  .github/renovate.json
Labels: area: github

#146 ci(labeler): updates labeler config
  .github/labeler.yaml
Labels: area: github

#151 ci: implements Bazel build workflow
  .github/workflows/build.yaml
Labels: area: github

#155 docs: updates documentation
  README.md
  docs/assets/homelab_front.jpg
Labels: kind: documentation

#157 ci: updates build workflow runners
  .github/workflows/build.yaml
Labels: area: github

#160 feat(terraform): adds terraform state backend
  cluster-home/tenants/terraform/kustomization.yaml
  cluster-home/tenants/terraform/terraform-namespace.yaml
  cluster-home/tenants/terraform/terraform-state-sa.yaml
  terraform/ovh/terraform.tf
  terraform/talos/k8s/terraform.tf
  terraform/talos/nodes/terraform.tf
Labels: infra: cluster-home, area: terraform, area: kubernetes

#158 chore: updates VM's CPU configuration
  packer/proxmox-talos-node/talos-node.pkr.hcl
  terraform/talos/nodes/node-controlplane.tf
  terraform/talos/nodes/node-ingress.tf
  terraform/talos/nodes/node-worker.tf
  terraform/talos/nodes/variables.tf
Labels: area: packer, area: terraform

#171 feat(cluster-home): adds Buildbuddy deployment
  cluster-home/bootstrap/base/secrets/buildbuddy-db-mysql-secret.yaml.age
  cluster-home/tenants/buildbuddy/bb-application.yaml
  cluster-home/tenants/buildbuddy/bb-ingress.yaml
  cluster-home/tenants/buildbuddy/db-application.yaml
  cluster-home/tenants/buildbuddy/kustomization.yaml
  cluster-home/tenants/buildbuddy/namespace.yaml
  cluster-home/tenants/buildbuddy/tls.yaml
Labels: infra: cluster-home, area: kubernetes

#178 ci(build): adds comment/summary with build result
  .github/workflows/build.yaml
Labels: area: github

#179 feat: adds starterkit-ash worker/runner
  cluster-home/tenants/buildbarn/config/kustomization.yaml
  cluster-home/tenants/buildbarn/config/runner-starterkit-ash.jsonnet
  cluster-home/tenants/buildbarn/config/worker-starterkit-ash.jsonnet
  cluster-home/tenants/buildbarn/kustomization.yaml
  cluster-home/tenants/buildbarn/worker-starterkit-ash.yaml
Labels: infra: cluster-home, area: kubernetes

#183 feat: adds starterkit-ash-x86_64-cc worker/runner
  cluster-home/tenants/buildbarn/config/kustomization.yaml
  cluster-home/tenants/buildbarn/config/runner-starterkit-ash-x86_64-cc.jsonnet
  cluster-home/tenants/buildbarn/config/worker-starterkit-ash-x86_64-cc.jsonnet
  cluster-home/tenants/buildbarn/kustomization.yaml
  cluster-home/tenants/buildbarn/worker-starterkit-ash-x86_64-cc.yaml
Labels: infra: cluster-home, area: kubernetes

#184 fix: lowercase in worker-starterkit-ash-x86-64-cc deployment resource name
  cluster-home/tenants/buildbarn/worker-starterkit-ash-x86_64-cc.yaml
Labels: infra: cluster-home, area: kubernetes

#185 feat: adds starterkit-ash-coreutils-x86_64-cc worker/runner
  cluster-home/tenants/buildbarn/config/kustomization.yaml
  cluster-home/tenants/buildbarn/config/runner-starterkit-ash-coreutils-x86_64-cc.jsonnet
  cluster-home/tenants/buildbarn/config/worker-starterkit-ash-coreutils-x86_64-cc.jsonnet
  cluster-home/tenants/buildbarn/kustomization.yaml
  cluster-home/tenants/buildbarn/worker-starterkit-ash-coreutils-x86_64-cc.yaml
Labels: infra: cluster-home, area: kubernetes

#186 chore: capitalize OSFamily property value(s) of bb-runners
  cluster-home/tenants/buildbarn/config/worker-starterkit-ash-coreutils-x86_64-cc.jsonnet
  cluster-home/tenants/buildbarn/config/worker-starterkit-ash-x86_64-cc.jsonnet
  cluster-home/tenants/buildbarn/config/worker-starterkit-ash.jsonnet
Labels: infra: cluster-home, area: kubernetes

#190 feat: adds coder-k8s-ubuntu-nix template
  terraform/coder/k8s-ubuntu-nix/data.tf
  terraform/coder/k8s-ubuntu-nix/main.tf
  terraform/coder/k8s-ubuntu-nix/startup.sh
  terraform/coder/k8s-ubuntu-nix/variables.tf
  terraform/coder/k8s-ubuntu-nix/versions.tf
Labels: area: terraform

#192 fix(coder): adds minor fixes to k8s-ubuntu-nix
  terraform/coder/k8s-ubuntu-nix/startup.sh
Labels: area: terraform

#195 ci: implements publish workflow
  .github/workflows/publish.yaml
Labels: area: github

#196 chore(monitoring): updates comin scrape config
  cluster-home/core/monitoring/kube-prometheus-stack-app.yaml
Labels: infra: cluster-home, area: kubernetes

#74 Add nixos-node packer builder
  packer/nixos-node/BUILD.bazel
  packer/nixos-node/nixos-node.pkr.hcl
  packer/nixos-node/secrets.auto.pkrvars.hcl.age
  packer/nixos-node/variables.pkr.hcl
Labels: area: packer
